$ff-primary: "Manrope", sans-serif;

$fs-primary-100: 0.8125rem;
$fs-primary-200: 1rem;

$fw-500: 500;
$fw-700: 700;

$clr-white: hsl(0, 0%, 100%);
$clr-blue-100: hsl(210, 46%, 95%);
$clr-blue-200: hsl(212, 23%, 69%);
$clr-blue-300: hsl(214, 17%, 51%);
$clr-blue-400: hsl(217, 19%, 35%);

$transition: all 0.5s;